name: publish major

on: workflow_dispatch

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
      - uses: actions/setup-node@v4.0.0
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Update Version
        run: npm version patch
      - name: Commit Updated Version
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: bump version
          branch: main
      - name: Build
        run: pnpm run build
      - name: Publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish
