name: sync-develop-renovate

on:
  pull_request:
    types: [closed]
    branches:
      - develop

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: develop
          head: renovate
          title: '[Sync] Develop - Renovate'
          body: 'Automated PR to merge changes develop to renovate'
